.card {
  width: 100%;
  max-width: 92rem;
  padding: 5em;
  background-color: var(--clr-secondary-ligth);
  box-shadow: 0 2.4rem 8rem rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.8rem;
}

.img__poster {
  min-width: 30rem;
  max-width: 30rem;
  height: 40rem;
  transform: translateX(-8rem);
  position: relative;
}

.img__poster img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 0.8rem;
}

.img__poster img::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(
    to right,
    rgba(79, 172, 254, 0.8),
    rgba(0, 242, 254, 0.8)
  );
  box-shadow: 0.5rem 0.5rem 3rem 1px rgba(0, 0, 0, 0.05);
  border-radius: 0.8rem;
}

@media screen and (max-width: 868px) {
  .card {
    max-width: 70rem;
  }
}

@media screen and (max-width: 768px) {
  .card {
    padding: 2.5rem;
    flex-direction: column;
  }
  .img__poster img {
    width: 100%;
    height: 100%;
    transform: translate(0, 0.8rem);
  }
}
