.post {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 1em 2em rgba(0, 0, 0, 0.7);
  max-width: 400px;
  margin: 20px auto;
  padding: 15px 20px;
  background: #fff;
  border-radius: 1%;
}


.post img{
  box-shadow: 0 2em 2em rgba(0, 0, 0, 0.7);
  border-radius: 5px;
}

.post button{
  background: var(--clr-primary);
  color: var(--clr-secondary-ligth);
  padding: 0.6em 1.4em;
  border-radius: 10px;
  font-weight: bolder;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.6);
  box-shadow: 0 1.4em 2em rgba(0, 0, 0, 0.7);
}

