.navbar {
  background-color: var(--clr-primary-dark);
  width: 100%;
  border: 1px solid #000;
  margin-bottom: 2em;
}

.nav__loggedin {
  display: flex;
}

.navbar__ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 1em 1em;
}

.navbar__ul li {
  font-weight: bold;
  cursor: pointer;
  padding-left: 10px;
  color: var(--clr-secondary-ligth);
  font-size: 1.35em;
}

.navbar__ul li:hover {
  color: var(--clr-primary);
}
